{% include 'header.html' %}

<body>
    <h4>Employee List</h4>
    {% for row in employees %}
    <table>
        <tr>
            <th>Employee ID</th>
            <th>Employee Name</th>
            <th>Employee Email</th>
            <th>Function </th>
        </tr>
        <tr>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td>
                <form action="/addAttendance" method="POST" id="deleteEmployee" autocomplete="on">
                    <input type="hidden" name="empId" value="{{row[0]}}">
                    <button type="submit" name="delete">Attendance</button>
                </form>
            </td>
        </tr>
    </table>
    {% endfor %}
</body>

{% include 'footer.html' %}