{% include 'header.html' %}

<body>
    <h4>Attandance</h4>

    <form action="/addAtt" method="POST">
        {% if employee %}
        <div>
            <input type="hidden" name="attId" value="{{attId}}" readonly>
        </div>
        <div>
            Employee ID:
            <input type="text" name="empId" value="{{employee[0]}}" readonly>
        </div>
        <div>
            Employee Name:
            <input type="text" name="empName" value="{{employee[1]}}" readonly>
        </div>
        <div>
            Current Date:
            <script>
                date = new Date().toLocaleDateString();
                document.write(date);
            </script>
        </div>
        <div>
            Current Time:
            <script>
                time = new Date().toLocaleTimeString();
                document.write(time);
            </script>
        </div>
        <div>
            <button type="submit" name="attCreate">Check In</button>
        </div>
        {% endif %}
    </form>
</body>
{% include 'footer.html' %}