<!DOCTYPE html>
<html>

<head>
	<title>Add Employee Information</title>
</head>
<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Employee Database</h1>

		<body bgcolor="lightgrey">

			<form action="/addemp" autocomplete="on" method="POST" enctype="multipart/form-data">

				ID: <input type="text" value="{{empId}}" readonly="readonly">
				Name: <input type="text" value="empName" required>
				Email: <input type="text" value="empEmail" required>
				Password: <input type="text" value="empPassword" required>
				Phone Number: <input type="text" value="empPhoneNumber" required>
				Pri_Skill: <input type="text" value="empPriSkill" required>
				Location: <input type="text" value="empLocation" required>

				<button type="submit" name="empCreate">Add Employee</button>
			</form>
			<a href="/about">About Us</a>
		</body>

	</font>
</center>

</html>