{% include 'header.html' %}

<body>
    <h4>Employee List</h4>
    {% for row in attendances %}
    <table>
        <tr>
            <th>Attendance ID</th>
            <th>Employee ID</th>
            <th>Employee Name</th>
            <th>Date</th>
            <th>Check In Time</th>
            <th>Check Out Time</th>
            <th>Function</th>
        </tr>
        <tr>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td>{{row[3]}}</td>
            <td>{{row[4]}}</td>
            <td>{{row[5]}}</td>
            <td>{{row[6]}}</td>
            <td>
                <form action="/updateAttendance" method="POST" id="updateAttendance" autocomplete="on">
                    <input type="hidden" name="attId" value="{{row[0]}}">
                    <button type="submit" name="update">Update</button>
                </form>
            </td>
            <td>
                <form action="/deleteAtt" method="POST" id="deleteAtt" autocomplete="on">
                    <input type="hidden" name="attId" value="{{row[0]}}">
                    <button type="submit" name="delete">Delete</button>
                </form>
            </td>
        </tr>
    </table>
    {% endfor %}
    </div>
</body>

{% include 'footer.html' %}